*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	font-family: Arial, sans-serif;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #e9f6ef;
	
	
	
	
}





#rating-value{	
	width: 110px;
	min-height: 45px;
	margin: 40px auto 0;
	padding: 10px 5px;
	text-align: center;
	box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
	border: 2px solid green;
}

 
.rating{
	width: 300px;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}

.rating > input{
	display: none;
}


.rating >  label {
	color: #b3bbeb;
	font-size: 30px;
	padding: 7px;
	cursor: pointer;
}


.rating:hover label:not(label:hover ~ label){
	color: green;  /* gdy label:hover wcześniejsze gwiazdki zielony */
	
}

label:hover ~ label {
	color: #b3bbeb;  /* szary */
	
	
}


input:checked + label {
	
	color: #58e060;  /* jasny zielony*/
	
}

.rating > label:not(input:checked ~ label) {
	color: #58e060;  /* gdy input:checked  gwiazdki przed nim jasny zielony*/
	
	
}

.rating > input:checked ~ label:hover ~ label{
	 
	color: #b3bbeb; /* gdy input:checked następne gwiazdki szary */
	 
}

 
 


 